#container {
    width: 1000px;
    margin:0 auto;
}

h1 {
    color: brown;
    text-align: center;
}

.txt-cor {
    color: darkblue;
}

strong {
    font-size: 22px;
}

span {
    font-size: 19px;
}

.lista-numero {
    list-style: decimal;
}

 